{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<section class="bg-ligth p-3">
<h1> Votre Panier </h1>
</section>

<table class="table">

    <thead>

        <tr>
            <th>Produit</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Total</th>
            <th>Action</th>
        </tr>

    </thead>

    <tbody>

        {% for element in dataPanier %}

            <tr>
                <td>{{ element.plat.libelle }}</td>
                <td>{{ element.plat.prix }} €</td>
                <td>{{ element.quantite }}</td>
                <td>{{ element.plat.prix * element.quantite }} €</td>
                <td>
                    <a href="{{ path ("app_ajout_panier" , {id: element.plat.id}) }}" class="btn btn-success">
                        <i class="bi bi-cart-plus"></i>
                    </a>
                
                    <a href="{{ path ("app_enlever_panier" , {id: element.plat.id}) }}" class="btn btn-warning">
                        <i class="bi bi-cart-dash"></i>
                    </a>

                    <a href="{{ path ("app_supprimer_panier" , {id: element.plat.id}) }}" class="btn btn-danger">
                        <i class="bi bi-cart-x"></i>
                    </a>
                </td>
            </tr>
            
        {% else %}

            <tr>
                <td colspan = "5" class="text-center">Votre Panier est vide</td>
            </tr>
            
        {% endfor %}

    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Total :</td>
            <td class="text-end">{{ total }} €</td>
            <td>
                <a href="{{ path ("app_supprimer_panier_all") }}" class="btn btn-danger">
                    <i class="bi bi-cart-x"></i>
                </a>
            </td>
        </tr>
    </tfoot>

</table>


{% endblock %}
