{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
<h1 class="my-2">Detail du compte</h1>
    <div class="row justify-content-start">
        <h2>mes informations personnel</h2>
        <div class="card text-bg-primary my-3" >
            <div class="card-header">adresse</div>
            <div class="card-body">
                <h5 class="card-title">{{ user.Nom }} {{ user.prenom | upper}}</h5>
                <p class="card-text">{{ user.email }}</p>
                <p class="card-text">{{ user.telephone }}</p>
                <p class="card-text">{{ user.adresse }}</p>
                <p class="card-text">{{ user.ville }}</p>
                <p class="card-text">{{ user.cp }}</p>
                 <a class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover justify-content-center" href="{{ path ('app_editprofil', {nom: app.user.nom,prenom: app.user.prenom}) }}">
                <button class="btn btn-primary">Modifier</button></a>
            </div>
        </div>
    </div>


<div class="row">
<h2>Mes commandes</h2>

<table class="table table-striped-columns">
    <thead>
        <tr>
            <th class='text-center'>date de la commande</th>
            <th class='text-center'>etat</th>
            <th class='text-center'>detail commande</th>
            <th class='text-center'>total</th>
        </tr>
    </thead>
    <tbody>
            {% for commande in commandes  %}
                <tr>
                    <th class='text-center align-middle'>{{ commande.DateCommande | date("d/m/Y") }}</th>

                    <th class='text-center align-middle'>{% if (commande.etat == 0) %}enregistrée/payée {% elseif (commande.etat == 1) %} en préparation {% elseif (commande.etat == 2) %} en cours de livraison {% elseif (commande.etat == 3) %} livrée {% endif %} </th>

                    <th class='text-start'>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Nom</th>
                                                <th>Prix</th>
                                                <th>quantite</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for detail in commande.details  %}
                                               
                                                <tr>
                                                    <td>{{ detail.plats.libelle }}</td>
                                                    <td>{{ detail.plats.prix }}</td>
                                                    <td>{{ detail.quantite}}</td>
                                                </tr>

                                            {% endfor %}
                                        </tbody>
                                    </table></th>

                    <th class='text-center align-middle'>{{ commande.total }}</th>
                    
                </tr>
            {% endfor %}
    </tbody>
</table>

</div>
</div>
</div>
{% endblock %}