{% extends 'base.html.twig' %}

{% block title %}plat{% endblock %}

{% block body %}  
    <div class="container-fluid g-0 row">

        

                <div class="row justify-content-center mt-3">
                <h2 class="fs-1 col-12 ms-md-5">Nos plats :</h2>
                <div class="row justify-content-center">

                 {% for plats in plat %}

                <div class="card col-md-4 flex-row mt-3 mx-md-5" style="width: 35rem">
                          <img src="{{ asset ('img/food/' ~ plats.image) }}" class="rounded-3 img-fluid m-auto" alt="{{ plats.libelle }}'_food" style="width: 10rem; height: fit-content;">
                        <div class="card-body">
                          <h5 class="card-title mt-md-4">{{ plats.libelle }}</h5>
                          <p class="card-text">{{ plats.description }}</p>
                          <p class="card-text">{{ plats.prix}}</p>
                          <div class="d-flex justify-content-end">
                            <button type="button" class="d-none d-md-block btn btn-primary btn-lg position-absolute bottom-0 end-0" name="platcom" value="{{ plats.id}}">Ajouter</button>
                            <button type="button" class="d-block d-md-none btn btn-primary btn-lg position-absolute bottom-0 start-0" name="platcom" value="{{ plats.id}}">Ajouter</button>
                          </div>
                        </div>
                </div>

                 {% endfor %}

</div>
</div>
</div>

{% endblock %}