{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="container-fluid g-md-0 row justify-content-center">

		<div class="col-2 p-0 d-none d-md-block parallax"></div>

		<div class="col-md-8 col-12 mx-auto">

			<div class="row justify-content-center mx-auto">
			<h2 class="fs-1 col-12 mt-4">Les Categories Favorites :</h2>

				{% for categorie in category %}

					<div class="card col-12 col-md-4 mt-3 mx-auto" style="width: 18rem;">
						<a class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover justify-content-center" href="{{ path ('app_dishincat' , {categorie_id: categorie.id} ) }}">
							<img src="{{ asset ('img/category/' ~ categorie.image) }}" class="card-img-top img-fluid imagecat" alt="{{ categorie.libelle }}">
							<div class="card-body">
								<h5 class="card-title">{{ categorie.libelle | upper }}</h5>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>

			<div class="row justify-content-center mx-auto">
				<h2 class="fs-1 col-12 mt-4">Nos plats star :</h2>

				{% for plats in plat %}

					<div class="card col-12 col-md-6 mt-3 mx-md-5" style="width: 30rem">
						<img src="{{ asset ('img/food/' ~ plats.image) }}" class="rounded-3 img-fluid m-auto" alt="{{ plats.libelle }}'_food" style="width: fit-content; height: 10rem;">
						<div class="card-body">
							<h5 class="card-title mt-md-4">{{ plats.libelle }}</h5>
							<p class="card-text">{{ plats.description }}</p>
							<p class="card-text">{{ plats.prix}}</p>
							<div class="d-flex justify-content-end">
								<a href="{{ path ("app_ajout_panier" , {id: plats.id}) }}" class="d-none d-md-block btn btn-primary btn-lg position-absolute bottom-0 end-0">Ajouter</a>
								<a href="{{ path ("app_ajout_panier" , {id: plats.id}) }}" class="d-block d-md-none btn btn-primary btn-lg position-absolute bottom-0 start-0">Ajouter</a>
							</div>
						</div>
					</div>

				{% endfor %}

			</div>
{% endblock %}
{% block footer %}

		<footer class="p-0 g-0">
			<nav id="navbot" class="navbar navbar-expand bg-dark navbar-dark mt-3 rounded-pill rounded-xs-none container-fluid">
				<div class="collapse navbar-collapse justify-content-center row" id="collapsibleNavbar2">
					<ul class="navbar-nav col-12 justify-content-center mx-xl-2">
						<li class="nav-item">
							<a class="nav-link active" href="https://www.facebook.com/" title="Accueil"><img src="{{ asset ('img/social_media/icons8-facebook-48.png')}}" class="img-fluid align-text-top" alt="navinsta"></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="https://www.instagram.com/" title="Categorie"><img src="{{ asset ('img/social_media/icons8-instagram-48.png')}}" class="img-fluid d-inline-block align-text-top" alt="navfb"></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="https://www.tiktok.com/" title="Plat"><img src="{{ asset ('img/social_media/icons8-tiktok-48.png')}}" class="img-fluid d-inline-block align-text-top" alt="navtt"></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="https://www.x.com/" title="contact"><img src="{{ asset ('img/social_media/icons8-twitter-48.png')}}" class="img-fluid d-inline-block align-text-top" alt="navx"></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="https://www.youtube.com/" title="contact"><img src="{{ asset ('img/social_media/icons8-youtube-48.png')}}" class="img-fluid d-inline-block align-text-top" alt="navyt"></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path ('app_mention_legale') }}" title="mention_legales"><img src="{{ asset ('img/social_media/icons8-mention-legales-50.png')}}" class="img-fluid d-inline-block align-text-top" alt="navyt"></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path ('app_pdf') }}" title="politique_de_confidentialité"><img src="{{ asset ('img/social_media/icons8-politique-de-confidentialité-50.png')}}" class="img-fluid d-inline-block align-text-top" alt="navyt"></a>
						</li>
					</ul>
				</div>
			</nav>
		</footer>
		</div>

		<div class="col-2 p-0 d-none d-md-block parallax"></div>
	</div>
		{% endblock %}

