{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="container-fluid g-md-0 row justify-content-center">

		<div class="col-2 p-0 d-none d-md-block parallax"></div>

		<div class="col-md-8 col-12 mx-auto">

			<div class="row justify-content-center">
			<h2 class="fs-1 col-12 mt-4">Les Categories Favorites :</h2>

				{% for categorie in category %}

					<div class="card col-12 col-md-4 mt-3 mx-auto" style="width: 18rem;">
						<a class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover justify-content-center" href="{{ path ('app_dishincat' , {categorie_id: categorie.id} ) }}">
							<img src="{{ asset ('img/category/' ~ categorie.image) }}" class="card-img-top img-fluid imagecat" alt="{{ categorie.libelle }}">
							<div class="card-body">
								<h5 class="card-title">{{ categorie.libelle | upper }}</h5>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>

			<div class="row justify-content-center">
				<h2 class="fs-1 col-12 mt-4">Nos plats star :</h2>

				{% for plats in plat %}

					<div class="card col-12 col-md-6 mt-3 mx-md-5" style="width: 30rem">
						<img src="{{ asset ('img/food/' ~ plats.image) }}" class="rounded-3 img-fluid m-auto" alt="{{ plats.libelle }}'_food" style="width: fit-content; height: 10rem;">
						<div class="card-body">
							<h5 class="card-title mt-md-4">{{ plats.libelle }}</h5>
							<p class="card-text">{{ plats.description }}</p>
							<p class="card-text">{{ plats.prix}}</p>
							<div class="d-flex justify-content-end">
								<a href="{{ path ("app_ajout_panier" , {id: plats.id}) }}" class="d-none d-md-block btn btn-primary btn-lg position-absolute bottom-0 end-0">Ajouter</a>
								<a href="{{ path ("app_ajout_panier" , {id: plats.id}) }}" class="d-block d-md-none btn btn-primary btn-lg position-absolute bottom-0 start-0">Ajouter</a>
							</div>
						</div>
					</div>

				{% endfor %}

			</div>
		</div>

		<div class="col-2 p-0 d-none d-md-block parallax"></div>
	</div>

{% endblock %}
